img[data-full-img] {
  cursor: pointer;
}

#lightbox {
    width: 80%;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2), 0 6px 20px rgba(255, 0, 0, 0.19);
}
#lightbox[open] {
  animation: scaleUp 600ms;
}
@keyframes scaleUp {
  from {
    transform: scale(0.1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

dialog#lightbox::backdrop {
  
  animation: fadeIn 3s;
  opacity: 40%;
  background-color: orange;
 
}

#lightbox img {
    width: 100%;
    border-radius: 10px;
 
  
}