img[data-full-img] {
  cursor: pointer;
}

#lightbox {
    width: 80%;
    background-color: rgb(255, 0, 204);
    border-radius: 20px;
    box-shadow: 0 10px 18px rgba(0, 234, 255, 0.2), 0 10px 20px rgba(0, 200, 255, 0.19);
}
#lightbox[open] {
  animation: scaleUp 600ms;
}
@keyframes scaleUp {
  from {
    transform: scale(0.1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

dialog#lightbox::backdrop {
  
  animation: fadeIn 3s;
  opacity: 40%;
  background-color: rgb(255, 5, 226);
 
}

#lightbox img {
    width: 100%;
    border-radius: 10px;
 
  
}